<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/assents/css/main.css">
</head>
<body>
    <header>
        <div class="nav">
          <h1>Vitor Costa</h1>
          <ul class="links">
            <li>Seção 1</li>
            <li>Seção 2</li>
            <li>Seção 3</li>
          </ul>
        </div>
      </header>

      <link rel="stylesheet" href="../../public/assents/js/repo.js">
    
</body>
</html>